@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<header class="page-header mb-4">
    <h1>@ViewData["Title"]</h1>
</header>

<p>Use this page to detail your site's privacy policy.</p>
